    <p><b>General Use Queries (30%)</b> I want to see all of the queries that will be used to select, update, add or delete data. Because many of these will be based on user input, use square brackets to act as place holders for variables that will be user provided. For example, if I were going to query based on employee salaries, I might have a query like this: 
    SELECT salary FROM employee WHERE salary > [salaryInput ]; Another example - INSERT INTO employee(name, age) VALUES ([user],[name]);<br></p>
<h3>{{message}}</h3>
<div  class="game_chest">
    <fieldset>
        <form id="wizForm" action="/insert" method="get">
            Name: <input type="text" name="name" id="wName">
            Special:<select name="special">
                    <option value="1">Fire</option>
                    <option value="2">Ice</option>
                    <option value="3">Lightning</option>
                    <option value="4">Astral</option>
                    <option value="5">Air</option>
                    <option value="6">Evil</option>
                    <option value="7">Holy</option>
            </select>
            Life: <input type="text" name="life" id="wLife">
            Magick: <input type="text" name="magick" id="wMagick">
            <input type="submit" value="Add to table" id="insert">
        </form>
    <span>
    <table class="data_table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Special</th>
                <th>Life</th>
                <th>Magick</th>
            </tr>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{special}}</td>
                <td>{{life}}</td>
                <td>{{magick}}</td>
                <td><form action="/update" method="get"><input type="hidden" name="id" value="{{id}}"><input type="submit" value="Update" id="update"></form></td>
                <td><form action="/delete" method="get"><input type="hidden" name="id" value="{{id}}"><input type="submit" value="Delete" id="delete"></form></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    </span>
    </fieldset>
</div>