    <p><b>General Use Queries (30%)</b> I want to see all of the queries that will be used to select, update, add or delete data. Because many of these will be based on user input, use square brackets to act as place holders for variables that will be user provided. For example, if I were going to query based on employee salaries, I might have a query like this: 
    SELECT salary FROM employee WHERE salary > [salaryInput ]; Another example - INSERT INTO employee(name, age) VALUES ([user],[name]);<br></p>
<h3>{{message}}</h3>

<div  class="game_chest">
<fieldset><legend>Wizards</legend>
    
<form id="wizForm" method="get"><thead><tr>
    <th>Name: <input type="text" name="name" id="wName"></th>
<!--
    <th>Special:<select name="special">{{#each special}}
        <option value="1">{{@index}}: {{@this}}</option>
    {{/each}}</select></th>
-->
    <th>Special: <input type="text" name="special" id="wSpec"></th>
    <th>Life: <input type="text" name="life" id="wLife"></th>
    <th>Magick: <input type="text" name="magick" id="wMagick"></th>
    <th><button type="submit" formaction="/insert" value="insert">Insert</button></th>
</tr></thead><br><br></form>

    <!-- all your inputs -->
<div class="table">
    <form class="tr" method="get" action="/update">
    <span><table class="data_table">
    <thead><tr>
        <th>Name</th>
        <th>Special</th>
        <th>Life</th>
        <th>Magick</th>
    </tr></thead>
    <tbody>
        {{#each results}}<tr>
        <td><span class="td"><input type="text" value="{{name}}"/></span></td>
        <td><span class="td"><input type="text" value="{{special}}"/></span></td>
        <td><span class="td"><input type="text" value="{{life}}"/></span></td>
        <td><span class="td"><input type="text" value="{{magick}}"/></span></td>

        <td><form action="/update" method="get"><input type="hidden" name="id" value="{{id}}"><input type="submit" value="Update" id="update"></form></td>

        <td><button type="submit" formaction="/update" value="update" type="hidden" name="id" value="{{id}}">Update</button></td>
        
        <td><form action="/delete" method="get"><input type="hidden" name="id" value="{{id}}"><input type="submit" value="Delete" id="delete"></form></td>
        </tr>{{/each}}
    </tbody>
    </table></span>
    </form>