<h3>{{message}}</h3>

<div  class="game_chest">
<fieldset class="entity" id ="{{table}}">
    
<legend><h2>{{table}}</h2></legend>
<form id="wizForm" method="post">
    <thead><tr>
        {{#each fields}}
            {{this.name}}: <th><input type="text" name="{{this.name}}" id="{{this.name}}"></th>
        {{/each}}
        <input type="hidden" name="table" id="table" value="{{table}}">
        <th><button type="submit" formaction="/insert" value="insert">Insert</button></th>
    </tr></thead><br><br>
</form>
    <!-- all your inputs -->

<div class="table">
<form class="tr" method="post" action="/update">
<span><table>
<thead><tr>
{{#each fields}} <th>{{this.orgName}}</th> {{/each}}
</tr></thead>
<tbody>
{{#each results}}<tr>
{{#each this}}
<td><span class="td"><input type="text" value="{{this}}"/></span></td>
{{/each}}
    <td><form action="/delete" method="post">
        <input type="hidden" name="id" value="{{id}}">
        <input type="hidden" class="table_value" name="table">
        <input type="submit" value="Delete" id="delete">
    </form></td>
</tr>{{/each}}     
</tbody>
</table></span>
</form>
</div>
</fieldset>
</div>
 <script>
    tab_vals = document.getElementsByClassName("table_value")
    Array.prototype.forEach.call(tab_vals,function(tab_val) {tab_val.setAttribute("value","{{table}}")});
     </script>